.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    z-index: 1000;
    width: 300px;
    font-family: Arial, sans-serif;
    color: #fff;
}

.modal-success {
    background-color: #28a745; /* Verde para éxito */
}

.modal-error {
    background-color: #dc3545; /* Rojo para error */
}

.modal-content button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #fff; /* Fondo blanco para contraste */
    color: #333; /* Texto oscuro */
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.modal-content button:hover {
    background-color: #f0f0f0; /* Cambio ligero en hover */
    color: #000;
}
